<div class="container pb-3">
    <div class="row">
        <div class="col-12 text-center" style="font-size:14px">
            {% if page.lang == "gr" %}
            Τα δεδομένα που παρουσιάζονται εδώ προορίζονται αποκλειστικά για εκπαιδευτικούς και ενημερωτικούς σκοπούς. Δεν αποτελούν νομικές, επαγγελματικές ή
            συμβουλευτικές οδηγίες. Οι πληροφορίες παρέχονται «ως έχουν» χωρίς καμία εγγύηση ακρίβειας ή πληρότητας. Οποιαδήποτε χρήση τους είναι αποκλειστική ευθύνη του χρήστη.
            Αν παρατηρήσετε προβλήματα ή θέλετε να αναφέρετε κάποιο ζήτημα σχετικά με τα δεδομένα, επικοινωνήστε μαζί μας στο <a href="dataforgreece@outlook.com">dataforgreece@outlook.com</a>
            {% else %}
            The data presented here are intended exclusively for educational and informational purposes. They are not intended for commercial use, nor do they constitute legal, professional, or
            advisory guidance. The information is provided 'as is' without any guarantees of accuracy or completeness. Any use of this data is solely the responsibility of the user.
            If you notice any problems or want to report an issue related to the data, contact us at <a href="dataforgreece@outlook.com">dataforgreece@outlook.com</a>
            {% endif %}
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
