<div class="container pb-3">
    <div class="row">
        <div class="col-12 text-center" style="font-size:14px">
            {% if page.lang == "gr" %}
                Αν παρατηρήσετε προβλήματα ή θέλετε να αναφέρετε κάποιο ζήτημα σχετικά με τα δεδομένα, επικοινωνήστε μαζί μας στο <a href="dataforgreece@outlook.com">dataforgreece@outlook.com</a>
            {% else %}
                If you notice any problems or want to report an issue related to the data, contact us at <a href="dataforgreece@outlook.com">dataforgreece@outlook.com</a>
            {% endif %}
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
