<section class="pb-5 section-bg">
    <div class="container p-4">
        <div class="row justify-content-center align-items-center content-wrapper">
            <div class="bg-overlay" style="border-radius:10px;"></div> <!-- Overlay -->
            <div class="col-md-10 text-center text-white">
                {% if page.lang == 'en' %}
                <h2>Subscribe to Our Newsletter</h2>
                <p>
                    Stay updated with the latest news and exclusive content straight to your inbox!<br>By subscribing, you’ll support our work and help us create valuable content.
                </p>
                <a class="btn-custom" href="https://dataforgreececom.substack.com/subscribe" target="_blank" rel="noopener noreferrer">Subscribe</a>
                {% else %}
                <h2>Εγγραφείτε στο Newsletter</h2>
                <p style="font-size:20px;">
                    Λάβετε αποκλειστικό περιεχόμενο και ενημερώσεις, απευθείας στο email σας!<br>Με την εγγραφή σας, στηρίζετε το έργο μας και μας βοηθάτε να δημιουργήσουμε ακόμη περισσότερο
                    αξιόλογο περιεχόμενο.
                </p>
                <a class="btn-custom" href="https://dataforgreece.substack.com/subscribe" target="_blank" rel="noopener noreferrer">Εγγραφή</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<style>

    .content-wrapper {
        position: relative;
        z-index: 2; /* Ensure content appears above background */
        padding: 40px 0;
        border-radius: 10px;
        background: url('/assets/bg.webp') center center / cover no-repeat; /* Set the uploaded image as background */
        color: #fff; /* Ensure text remains readable */
    }

</style>