<section class="pb-5">
    <div class="container" style="background-color: #5E4FE5; padding: 40px 0; border-radius: 15px;">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 text-center text-white">
                {% if page.lang == 'en' %}
                <h2 style="font-size: 2.5rem; font-weight: bold;">Subscribe to Our Newsletter</h2>
                <p style="font-size: 1.2rem; margin: 15px 0;">
                Stay updated with the latest news and exclusive content straight to your inbox!<br>By subscribing, you’ll support our work and help us create valuable content.
                </p>
                <a class="btn-custom-white-solid" href="https://dataforgreececom.substack.com/subscribe" target="_blank" rel="noopener noreferrer">Subscribe</a>
                {% else %}
                <h2 style="font-size: 2.5rem; font-weight: bold;">Εγγραφείτε στο Newsletter μας</h2>
                <p style="font-size: 1.2rem; margin: 15px 0;">
                    Λάβετε αποκλειστικό περιεχόμενο και ενημερώσεις, απευθείας στο email σας!<br>Με την εγγραφή σας, στηρίζετε το έργο μας και μας βοηθάτε να δημιουργήσουμε ακόμη περισσότερο αξιόλογο περιεχόμενο.
                </p>
                <a class="btn-custom-white-solid" href="https://dataforgreece.substack.com/subscribe" target="_blank" rel="noopener noreferrer">Εγγραφή</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
