<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="shortcut icon" href="/assets/favicon.svg">

    <!-- CSS Links -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/@iconscout/unicons/css/line.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">

    <script>
        document.addEventListener('DOMContentLoaded', function() {
          if (window.innerWidth < 600) {
            document.querySelector('meta[name="viewport"]').setAttribute('content', 'width=600');
          }
        });
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VT1VMYFGDL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VT1VMYFGDL');
    </script>
</head>

