<header id="topnav" class="defaultscroll sticky navbar-white-bg border-bottom">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="{% if page.lang == 'en' %}{{ site.url }}/en/{% else %}{{ site.url }}{% endif %}">
            <img src="{{ site.baseurl }}/assets/logo.svg" height="40" alt="Data for Greece">
        </a>

        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle -->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle -->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu -->
               <ul class="navigation-menu justify-content-end">
                {% assign nav_items = site.data.navbar[page.lang].links %}

                {% for item in nav_items %}
                    {% if item.submenu %}
                        <li class="has-submenu parent-menu-item">
                            <a href="javascript:void(0)" class="sub-menu-item">{{ item.name }}</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                {% for subitem in item.submenu %}
                                    <li><a href="{{ subitem.url }}" class="sub-menu-item">{{ subitem.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ item.url }}" class="sub-menu-item">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
                 <li class="list-inline-item">
                    {% if page.lang == 'en' %}
                        {% capture gr_url %}
                            {{ page.url | replace_first: '/en/', '/' }}
                        {% endcapture %}
                        <a href="{{ site.baseurl }}{{ gr_url }}"><i>GR</i></a>
                    {% else %}
                        {% capture en_url %}
                            {% if page.url == "/" %}
                                /en/
                            {% else %}
                                /en{{ page.url }}
                            {% endif %}
                        {% endcapture %}
                        <a href="{{ site.baseurl }}{{ en_url }}"><i>EN</i></a>
                    {% endif %}
                </li>


            </ul><!--end navigation menu-->

        </div>
    </div>
</header>
