<header id="topnav" class="defaultscroll sticky navbar-white-bg">
    <div class="container">
        <a class="logo" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/logo.svg" height="40" alt="Data for Greece">
        </a>
        <div id="navigation">

            <!-- Navigation Menu -->
            <ul class="navigation-menu justify-content-end">
                {% assign nav_items = site.data.navbar[page.lang].links %}
                {% for item in nav_items %}
                    <li><a href="{{ site.baseurl }}{{ item.url }}" class="sub-menu-item">{{ item.name }}</a></li>
                {% endfor %}
            </ul>

            <!-- Language Switcher -->
            <ul class="list-inline mb-0">
                {% if page.lang == 'en' %}
                    {% capture gr_url %}
                        {{ page.url | replace_first: '/en/', '/' }}
                    {% endcapture %}
                    <li class="list-inline-item">
                        <a href="{{ site.baseurl }}{{ gr_url }}"><strong>GR</strong></a>
                    </li>
                {% else %}
                    {% capture en_url %}
                        {% if page.url == "/" %}
                            /en/
                        {% else %}
                            /en{{ page.url }}
                        {% endif %}
                    {% endcapture %}
                    <li class="list-inline-item">
                        <a href="{{ site.baseurl }}{{ en_url }}"><strong>EN</strong></a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</header>
