@font-face {
  font-family: 'BoldFont';
  src: url('fonts/bold.otf') format('opentype'); /* Correct the path */
  font-weight: normal;
  font-style: normal;
}

/* Usage of the font in the stylesheet */
h1,h2,h3,h4,h5 {
    font-family: 'BoldFont', sans-serif !important;
}

h1 {
    font-size: 5rem; /* Increase the size of the heading */
    font-weight: bold;
    line-height: 1.2;
}

.btn-custom {
    display: inline-block;
    text-decoration: none;
    border: 3px solid white; /* Thicker border */
    color: white;
    padding: 15px 40px; /* Increased padding for a larger button */
    font-size: 1.5rem; /* Larger font size */
    border-radius: 0;
    background-color: transparent;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition */
    outline: none;


.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    border: 3px solid white;
    background-color: transparent; /* Stay transparent on hover and focus */
    color: white; /* Keep text color white on hover and focus */
    outline: none; /* Ensure no outline on focus */
}