body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
}

h1 {
    color: #00539C; /* Blue heading color */
    margin-top: 20px;
}

p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}

/* Logo customization */
.navbar-brand img {
    max-height: 40px; /* Adjust the logo size */
}

.container {
    margin-top: 100px; /* Increase margin for better spacing */
}
