{% assign related_articles = site.articles | where: "related_dataset_slugs", page.slug %}

{% include head.html %}
<body>
{% include navbar.html %}
<main>
    <section class="bg-half-100 d-flex w-100 pb-4">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">

                        <div class="col-md-1 d-none d-md-block">
                            <ul class="list-unstyled text-start sticky-bar social-icon social mb-0 pt-1">
                                <li class="mb-2 h6 text-center">Share</li>
                                <div class="text-center">
                                    <!-- Facebook Share -->
                                    <li class="mt-1">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
                                           target="_blank"
                                           class="rounded">
                                            <i data-feather="facebook" class="uil uil-facebook-f"></i>
                                        </a>
                                    </li>
                                    <!-- Twitter Share -->
                                    <li class="mt-1">
                                        <a href="https://twitter.com/intent/tweet?text=Check%20this%20out!&url={{ site.url }}{{ page.url }}"
                                           target="_blank"
                                           class="rounded">
                                            <i data-feather="twitter" class="uil uil-twitter"></i>
                                        </a>
                                    </li>
                                    <!-- LinkedIn Share -->
                                    <li class="mt-1">
                                        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}"
                                           target="_blank"
                                           class="rounded">
                                            <i data-feather="linkedin" class="uil uil-linkedin"></i>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>


                        <div class="col-12 col-md-11 fs-5">

                            <div class="row justify-content-center">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb m-0 p-0">
                                        {% if page.lang == 'en' %}
                                        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">HOME</a></li>
                                        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/en/data-directory/">DATA DIRECTORY</a></li>
                                        <li class="breadcrumb-item active">DATA</li>
                                        {% else %}
                                        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">ΑΡΧΙΚΗ</a></li>
                                        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/data-directory/">ΣΥΛΛΟΓΗ ΔΕΔΟΜΕΝΩΝ</a></li>
                                        <li class="breadcrumb-item active">ΔΕΔΟΜΕΝΑ</li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>

                            <h2 class="title">{{ page.title }}</h2>

                            <div class="row align-items-center pt-4">
                                <!-- Title on the left -->
                                <div class="col-md-8 col-12">
                                    <h4><i class="uil uil-tag-alt"></i> {{ page.category }}</h4>
                                </div>

                                <!-- Download button on the right -->
                                <div class="col-md-4 col-12 text-md-end">
                                    {% if page.download_url %}
                                    <a href="{{ page.download_url }}" target="_blank" class="btn btn-custom-purple">
                                        {% if page.lang == 'en' %} Download {% else %} Κατέβασε {% endif %}CSV
                                    </a>
                                    {% else %}
                                    <a href="https://dataforgreece.com/about/" target="_blank" class="btn btn-custom-purple">
                                        {% if page.lang == 'en' %} Ask {% else %} Ζήτησε {% endif %}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="container-fluid ps-0 pe-0">
                                <table class="custom-table">
                                    <thead>
                                    <tr>
                                        <th>
                                            <strong>
                                                {% if page.lang == "en" %}
                                                Published by
                                                {% else %}
                                                Δημοσιεύθηκε από
                                                {% endif %}
                                            </strong>
                                        </th>
                                        <th>{{ page.published_by }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>
                                            <strong>
                                                {% if page.lang == "en" %}
                                                Last Update
                                                {% else %}
                                                Τελευταία ενημέρωση
                                                {% endif %}
                                            </strong>
                                        </th>
                                        <td>{{ page.last_update }}</td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <strong>
                                                {% if page.lang == "en" %}
                                                Date Added
                                                {% else %}
                                                Ημερομηνία προσθήκης
                                                {% endif %}
                                            </strong>
                                        </th>
                                        <td>{{ page.date_added }}</td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <strong>
                                                {% if page.lang == "en" %}
                                                Category
                                                {% else %}
                                                Κατηγορία
                                                {% endif %}
                                            </strong>
                                        </th>
                                        <td>{{ page.category }}</td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <strong>
                                                {% if page.lang == "en" %}
                                                Data dates
                                                {% else %}
                                                Ημερομηνίες δεδομένων
                                                {% endif %}
                                            </strong>
                                        </th>
                                        <td>{{ page.data_dates }}</td>
                                    </tr>
                                    {% if page.contributed_by %}
                                    <tr>
                                        <th>
                                            <strong>
                                                {% if page.lang == "en" %}
                                                Contributed by
                                                {% else %}
                                                Συνεισφορά από
                                                {% endif %}
                                            </strong>
                                        </th>
                                        <td><a href="{{ page.contributed_by_url }}">🔗 {{ page.contributed_by }}</a></td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th>
                                            <strong>
                                                {% if page.lang == "en" %}
                                                Source
                                                {% else %}
                                                Πηγή
                                                {% endif %}
                                            </strong>
                                        </th>

                                    {% assign names = page.source_name | split: ',' %}
                                    {% assign urls = page.source_url | split: ',' %}
                                    {% assign last_index = names.size | minus: 1 %}

                                    <td>{% for i in (0..last_index) %}
                                      <a href="{{ urls[i] | strip }}">🔗 {{ names[i] | strip }}</a>
                                    {% endfor %}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class=" ps-0 pe-0">
                                <p class="text-muted">{{content}}</p>
                            </div>

                            <br>

                            {% if related_articles %}
                            <div class="related-articles">
                                <h3>
                                    {% if page.lang == "en" %}
                                    Related Articles
                                    {% else %}
                                    Σχετικά Άρθρα
                                    {% endif %}
                                </h3>
                                {% for article in related_articles %}
                                {% if article.lang == page.lang %}
                                <div class="row justify-content-center pt-3 ps-0">
                                    <div class="col-lg-12">
                                        <div class="tiny-three-item">
                                            <div class="tiny-slide">
                                                <div class="d-flex m-2">
                                                    <div class="card flex-1 content p-3 shadow rounded position-relative">
                                                        <h6><a href="{{ site.baseurl }}{{ article.url }}" class="h5 title text-dark">{{ article.title }}</a></h6>
                                                        <a href="{{ site.baseurl }}{{ article.url }}" class="text-muted readmore"><strong>Read More <i
                                                                class="uil uil-angle-right-b align-middle"></i></strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                                {% endif %}
                                {% endfor %}
                            </div>
                            <br>
                            {% endif %}
                            <br>
                            <hr>
                            <br><br>

                            <div class="text-center justify-content-center">
                                {% if page.lang == 'en' %}
                                Subscribe for free to receive new posts<br> and support our work.<br>
                                <iframe src="https://dataforgreececom.substack.com/embed" width="100%" height="150" style="border:0px solid #fff; background:white;" frameborder="0"
                                        scrolling="no"></iframe>
                                {% else %}
                                Εγγραφείτε δωρεάν για να ενημερώνεστε πρώτοι για νέες δημοσιεύσεις<br> και να στηρίζετε την προσπάθειά μας.<br>
                                <iframe src="https://dataforgreece.substack.com/embed" width="100%" height="150" style="border:0px solid #fff; background:white;" frameborder="0"
                                        scrolling="no"></iframe>
                                {% endif %}
                            </div>

                            <br>
                            {% include data-extra-footer.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </section>
</main>

{% include footer.html %}
</body>
</html>
