{% include head.html %}
<body>
{% include navbar.html %}
<main>
    <section class="bg-half-100 d-flex w-100">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">

                        <div class="col-md-1 d-none d-md-block">
                            <ul class="list-unstyled text-start sticky-bar social-icon social mb-0 pt-1">
                                <li class="mb-2 h6 text-center">Share</li>
                                <div class="text-center">
                                    <!-- Facebook Share -->
                                    <li class="mt-1">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
                                           target="_blank"
                                           class="rounded">
                                            <i data-feather="facebook" class="uil uil-facebook-f"></i>
                                        </a>
                                    </li>
                                    <!-- Twitter Share -->
                                    <li class="mt-1">
                                        <a href="https://twitter.com/intent/tweet?text=Check%20this%20out!&url={{ site.url }}{{ page.url }}"
                                           target="_blank"
                                           class="rounded">
                                            <i data-feather="twitter" class="uil uil-twitter"></i>
                                        </a>
                                    </li>
                                    <!-- LinkedIn Share -->
                                    <li class="mt-1">
                                        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}"
                                           target="_blank"
                                           class="rounded">
                                            <i data-feather="linkedin" class="uil uil-linkedin"></i>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>


                        <div class="col-12 col-md-11 fs-5">

                            <div class="row justify-content-center">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb m-0 p-0">
                                        {% if page.lang == 'en' %}
                                        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">HOME</a></li>
                                        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/en/data-directory/">DATA DIRECTORY</a></li>
                                        <li class="breadcrumb-item active">DATA</li>
                                        {% else %}
                                        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">ΑΡΧΙΚΗ</a></li>
                                        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/data-directory/">ΣΥΛΛΟΓΗ ΔΕΔΟΜΕΝΩΝ</a></li>
                                        <li class="breadcrumb-item active">ΔΕΔΟΜΕΝΑ</li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>

                            <h2 class="title">{{ page.title }}</h2>

                            <div class="row align-items-center pt-4">
                                <!-- Title on the left -->
                                <div class="col-md-8 col-12">
                                    <h4><i class="uil uil-tag-alt"></i> {{ page.category }}</h4>
                                </div>

                                <!-- Download button on the right -->
                                <div class="col-md-4 col-12 text-md-end">
                                    <a href="{{ page.download_url }}" target="_blank" class="btn btn-custom-purple">
                                        {% if page.lang == 'en' %} Download {% else %} Κατέβασε {% endif %}CSV
                                    </a>
                                </div>
                            </div>

                            <div class="container-fluid ps-0 pe-0 ">
                                <table class="custom-table">
                                    <thead>
                                    <tr>
                                        <th><strong>Published by</strong></th>
                                        <th>{{ page.published_by }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th><strong>Last Update</strong></th>
                                        <td>{{ page.last_update }}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Date Added</strong></th>
                                        <td>{{ page.date_added }}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Category</strong></th>
                                        <td>{{ page.category }}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Data Dates</strong></th>
                                        <td>{{ page.data_dates }}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Source</strong></th>
                                        <td><a href="{{ page.source_url }}">{{ page.source_name }}</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p class="text-muted">{{content}}</p>

                            <!--                            <a href="{{ page.download_url }}" target="_blank" class="btn-custom-black">-->
                            <!--                                {% if page.lang == 'en' %} Download {% else %} Κατέβασε {% endif %}-->
                            <!--                            </a>-->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    </section>
</main>

{% include data-extra-footer.html %}
{% include footer.html %}
</body>
</html>
