{% include head.html %}
<body>
{% include navbar.html %}
<main>
    <section class="bg-half-100 d-flex w-100 pb-4">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">

                        <div class="col-md-1 d-none d-md-block">
                            <ul class="list-unstyled text-start sticky-bar social-icon social mb-0 pt-1">
                                <li class="mb-2 h6 text-center">Share</li>
                                <div class="text-center">
                                    <!-- Facebook Share -->
                                    <li class="mt-1">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
                                           target="_blank"
                                           class="rounded">
                                            <i data-feather="facebook" class="uil uil-facebook-f"></i>
                                        </a>
                                    </li>
                                    <!-- Twitter Share -->
                                    <li class="mt-1">
                                        <a href="https://twitter.com/intent/tweet?text=Check%20this%20out!&url={{ site.url }}{{ page.url }}"
                                           target="_blank"
                                           class="rounded">
                                            <i data-feather="twitter" class="uil uil-twitter"></i>
                                        </a>
                                    </li>
                                    <!-- LinkedIn Share -->
                                    <li class="mt-1">
                                        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}"
                                           target="_blank"
                                           class="rounded">
                                            <i data-feather="linkedin" class="uil uil-linkedin"></i>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>


                        <div class="col-md-11 fs-5">

                            <div class="row justify-content-center">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb m-0 p-0">
                                        {% if page.lang == 'en' %}
                                        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">HOME</a></li>
                                        <li class="breadcrumb-item active">{{ page.title_upper | default: page.title }}</li>
                                        {% else %}
                                        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">ΑΡΧΙΚΗ</a></li>
                                        <li class="breadcrumb-item active">{{ page.title_upper | default: page.title }}</li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>

                            <h1>{{ page.title }}</h1>

                            <ul class="list-unstyled d-flex justify-content-between mt-4 fs-6">
                                <li class="list-inline-item user me-2"><i class="uil uil-user text-dark"></i> {{ page.author | default : "DataForGreece" }}</li>
                                <li class="list-inline-item date"><i class="uil uil-calendar-alt text-dark"></i>
                                    {{ page.date | date: "%Y-%m-%d" }}
                                </li>
                            </ul>

                            {% if page.use_cover_image %}
                            <div class="text-center">
                                <img src="{{ site.baseurl }}/{{ item.image_path | default: 'assets/posts/default-blog-cover.webp' }}"
                                     class="img-fluid rounded-md  w-100 shadow" alt="">
                            </div>
                            {% endif %}

                            <p class="text-muted">{{content}}</p>

                            <br>

                            <div class="related-datasets">
                                <h3>
                                    {% if page.lang == "en" %}
                                    Related Datasets
                                    {% else %}
                                    Σχετικά Σύνολα Δεδομένων
                                    {% endif %}
                                </h3>

                                {% for slug in page.related_dataset_slugs %}
                                {% assign related_dataset = site.data_directory | where: "slug", slug | where: "lang", page.lang | first %}
                                {% if related_dataset %}
                                <div class="row justify-content-center pt-3 ps-0">
                                    <div class="col-lg-12">
                                        <div class="tiny-three-item">
                                            <div class="tiny-slide">
                                                <div class="d-flex m-2">
                                                    <div class="card flex-1 content p-3 shadow rounded position-relative">
                                                        <h6>
                                                            <a href="{{ site.baseurl }}{{ related_dataset.url }}" class="h5 title text-dark">
                                                                {{ related_dataset.title }}
                                                            </a>
                                                        </h6>
                                                        <a href="{{ site.baseurl }}{{ related_dataset.url }}" class="text-muted readmore">
                                                            <strong>
                                                                {% if page.lang == "en" %}Read More{% else %}Διαβάστε Περισσότερα{% endif %}
                                                                <i class="uil uil-angle-right-b align-middle"></i>
                                                            </strong>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                                {% endif %}
                                {% endfor %}
                            </div>

                            <br>                            <br>

                            {% include data-extra-footer.html %}

                            <br>
                            <hr>
                            <br><br>
                            <div class="text-center justify-content-center">
                                {% if page.lang == 'en' %}
                                Subscribe for free to receive new posts<br> and support our work.<br>
                                <iframe src="https://dataforgreececom.substack.com/embed" width="100%" height="150" style="border:0px solid #fff; background:white;" frameborder="0"
                                        scrolling="no"></iframe>
                                {% else %}
                                Εγγραφείτε δωρεάν για να ενημερώνεστε πρώτοι για νέες δημοσιεύσεις<br> και να στηρίζετε την προσπάθειά μας.<br>
                                <iframe src="https://dataforgreece.substack.com/embed" width="100%" height="150" style="border:0px solid #fff; background:white;" frameborder="0"
                                        scrolling="no"></iframe>
                                {% endif %}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>
</main>
{% include footer.html %}
</body>
</html>
